<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="icon" href="logochapinha.ico" />
<title>Adicionar Produto</title>
</head>
<body>
	<div th:replace="~{/header :: header}"></div>

	<div class="container">
		<h3>Adicionar Produto</h3>
		<form action="/admin/produtos/adicionar" th:object="${produto}" method="POST">
			<div>
				<input type="hidden" th:field="*{id}" readonly>
							
				<label for="nome">Nome:</label>
				<input type="text" th:field="*{nome}" placeholder="X-Tudo">
				
				<label for="preco">Preço (R$):</label>
				<input type="number" step=any min=0 th:field="*{preco}" placeholder="R$ 19,99">
				
				<label for="descricao">Descrição:</label>
				<input type="text" th:field="*{descricao}" placeholder="Carne, frango, ovo, cebola, salada e dueto.">
				
				<label for="imagemurl">URL da Imagem:</label>
				<input type="url" th:field="*{imagemURL}" placeholder="https://shutterstock.com/hamburguer">
				
				<p>
			      <label>
			        <input type="checkbox" name="estaDisponivel" id="estaDisponivel" th:checked="${produto.estaDisponivel}" />
			        <span>Disponível</span>
			      </label>
			    </p>
			</div>
						
			<div>			
				<button type="submit" class="green btn" >Adicionar</button>
				<button type="reset" class="red btn">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>