<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header">
        <nav class="grey darken-2">
			<div class="nav-wrapper container">
				<a th:href="@{/home}" class="brand-logo"><strong>Na Chapa</strong></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><i class="material-icons">search</i></a></li>
					<li><a th:href="@{/sacola}"><i class="material-icons">local_mall</i></a></li>
					<li><a th:href="@{/admin/produtos/adicionar}"><i class="material-icons">add</i></a></li>
				</ul>
			</div>
		</nav>
    </header>
</body>
</html>