<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="icon" href="logochapinha.ico">
<title>Na Chapa</title>
</head>
<body>
	<nav class="grey darken-2">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo"><strong>Na Chapa</strong></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#"><i class="material-icons">search</i></a></li>
				<li><a href="#"><i class="material-icons">local_mall</i></a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>Olá, mundo!</h1>
	</div>
</body>
</html>