<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="icon" href="logochapinha.ico" />
<title>Na Chapa</title>
</head>
<body>
	<nav class="grey darken-2">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo"><strong>Na Chapa</strong></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#"><i class="material-icons">search</i></a></li>
				<li><a href="#"><i class="material-icons">local_mall</i></a></li>
				<li><a href="/admin/produtos/adicionar"><i class="material-icons">add</i></a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h3>Cardápio</h3>
		<table class="highlight">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Preço (R$)</th>
					<th>Descrição</th>
					<th>URL (Imagem)</th>
					<th>Disponível</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.id}">000</td>
					<td th:text="${produto.nome}">Hamburguer</td>
					<td th:text="${'R$ ' + #numbers.formatDecimal(produto.preco,0,2)}">Preço</td>
					<td th:text="${produto.descricao}">Descrição</td>
					<td th:text="${produto.imagemURL}">URL</td>
					<td th:text="${produto.estaDisponivel}">Esgotado</td>
					<td><a th:href="@{/admin/produtos/{idProduto}/editar(idProduto=${produto.id})}" style="color:black"><i class="material-icons">edit</i></a>
					<a th:href="@{/admin/produtos/{idProduto}/apagar(idProduto=${produto.id})}" style="color:black"><i class="material-icons">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>