<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="icon" href="logochapinha.ico" />
<title>Login</title>
</head>
<body>
	<div class="container">
		<h3 class="center">Login</h3>
		<h6 class="center">Para fins de teste, utilize "TESTE" e "1234"</h6>
		<form th:action="@{/login}" th:object="${usuario}" method="POST">
			<div>
				<input type="hidden" th:field="*{id}" readonly>
							
				<label for="nome">Nome:</label>
				<input type="text" th:field="*{nome}" placeholder="João">
				
				<label for="senha">Senha:</label>
				<input type="password" th:field="*{senha}" placeholder="Ex: 12345678">
			</div>
						
			<div>			
				<button type="submit" class="green btn large" >Login</button>
				<a th:href="@{/cadastro}" class="blue btn large right">Cadastro</a>
			</div>
		</form>
	</div>
</body>
</html>